[user]
name = Dmitry Krivenok
email = krivenok.dmitry@gmail.com

[alias]
co = checkout
ci = commit
st = status
br = branch

[color]
diff = auto
status = auto
branch = auto

[sendemail]
smtpEncryption = tls
smtpServer = smtp.gmail.com
smtpUser = krivenok.dmitry@gmail.com
smtpServerPort = 587

[hub]
host = eos2git.cec.lab.emc.com
